* {
  padding: 0;
  margin: 0; }

.absence {
  padding: 20px 150px; }
  .absence .form {
    border: 1px solid #D30F03;
    box-shadow: 10px 10px 5px #aaaaaa; }
    .absence .form h1 {
      padding: 10px;
      text-align: center; }
    .absence .form .content-form {
      margin: 20px 40px; }
      .absence .form .content-form .submit {
        padding: 10px;
        margin-left: 40%;
        color: white;
        background: #d30f03; }
      .absence .form .content-form .row {
        margin-bottom: 20px; }
        .absence .form .content-form .row .fild {
          margin-right: 30px; }
          .absence .form .content-form .row .fild.DCTT input, .absence .form .content-form .row .fild.cmt input {
            width: 320px; }
          .absence .form .content-form .row .fild input {
            margin-left: 10px;
            width: 200px; }
