* {
  padding: 0;
  margin: 0; }

.Header .header-title {
  color: 14px;
  padding: 0 150px;
  height: 100px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-bottom: 7px solid #D30F03; }
  .Header .header-title .title {
    display: flex;
    align-items: center; }
    .Header .header-title .title .text {
      margin-left: 10px;
      text-align: center; }
      .Header .header-title .title .text h2 {
        color: #D30F03;
        font-size: 18px;
        text-transform: uppercase; }
  .Header .header-title .search-box {
    position: relative; }
    .Header .header-title .search-box input {
      padding: 10px 8px;
      width: 350px;
      border: 1px solid #D30F03;
      border-radius: 10px; }
      .Header .header-title .search-box input:focus {
        outline: none !important; }
    .Header .header-title .search-box img {
      position: absolute;
      top: 6px;
      right: 8px; }
  .Header .header-title .acount {
    margin-top: -40px; }
    .Header .header-title .acount p a {
      color: #525252;
      text-decoration: none; }
.Header .header-navbar .navbar {
  background-color: #4E4E4E;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Header .header-navbar .navbar navbar-brand {
    padding: 0 5px; }
  .Header .header-navbar .navbar .navbar-nav {
    list-style-type: none; }
    .Header .header-navbar .navbar .navbar-nav .nav-item {
      display: inline-block;
      /*height: 100%;*/ }
      .Header .header-navbar .navbar .navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        border-right: 1px solid #ffffff; }
      .Header .header-navbar .navbar .navbar-nav .nav-item:hover {
        background: #131313; }
