* {
    padding: 0;
    margin: 0;
}
.Home {
    padding: 0 150px;
    .banner {
        img {
            width: 100%;
            height: 200px;
        }
    }
    .box {
        display: flex;

        margin-bottom: 20px;
        .InfoHot {
            box-shadow: 10px 10px 5px #aaaaaa;
            width: 600px;
            .title {
                padding: 20px;
                span {
                    font: 25px UTMCafetaRegular;
                    color: #D11009;
                    text-shadow: 1px 1px 1px #1a1a1a;
                    text-transform: uppercase;
                }
            }
            .content {
              img {
                padding-right: 20px;
                padding-left: 20px;
                width: calc(100% - 40px);
                height: 400px;
              }
              p {
                padding: 8px 0;
                text-align: center;
                font-size: 20px;
                color: #fff;
              }
        
            }
        }
        .RightBox {
            margin-left: 30px;
            padding: 20px 20px;
            width: 350px;
            .title {
                padding: 20px;
                span {
                    font: 25px UTMCafetaRegular;
                    color: #D11009;
                    text-shadow: 1px 1px 1px #1a1a1a;
                    text-transform: uppercase;
                }
            }
            .list-group {
                font-size: 16px;
                color: #383E54;
                list-style-type: circle;
            }
            .list-group-item {
                margin-bottom: 10px;
            }
        }
    }
    
    .footer {
        width: 100%;
        padding: 15px;
        text-align: center;
        background: #4C0E0B;
        color: white;
    }
}