.ListInfo {
  margin-top: 20px;
  width: 100%; }
  .ListInfo .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000000; }
    .ListInfo .title p {
      text-transform: uppercase; }
    .ListInfo .title .cat-title {
      font-size: 25px;
      color: #05396C;
      font-weight: bold; }
    .ListInfo .title .viewall {
      font-size: 14px; }
  .ListInfo .content .group-list {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; }
    .ListInfo .content .group-list .list-item {
      width: calc(100%/3 - 20px);
      height: 430px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      background: #E1D0EF;
      position: relative; }
      .ListInfo .content .group-list .list-item .poster {
        width: 100%;
        height: 250px; }
      .ListInfo .content .group-list .list-item .text {
        text-align: center;
        padding: 10px;
        color: #000000; }
        .ListInfo .content .group-list .list-item .text .title-info {
          color: #000000;
          font-size: 20px;
          font-weight: bold; }
        .ListInfo .content .group-list .list-item .text .more {
          font-size: 15px;
          text-decoration: none;
          margin-top: 15px;
          color: #222; }
