
.ListInfo {
    margin-top: 20px;
    width: 100%;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #000000;
        p {
           
            text-transform: uppercase;
        }
        .cat-title {
            font-size: 25px;
            color: #05396C;
            font-weight: bold;
        }
        .viewall {
            font-size: 14px;
        }
    }
    .content {
        .group-list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin-bottom: 10px;
            .list-item {
                width: calc(100%/3 - 20px);
                height: 400px;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 20px;
                background: #E1D0EF;
                position: relative;
                .poster {
                    width: 100%;
                    height: 250px;
                }
                .text {
                    text-align: center;
                    padding: 10px;
                    color: #000000;
                    .title-info {
                        color: #000000;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .more {
                        font-size: 15px;
                        text-decoration: none;
                        margin-top: 15px;
                        color: #222;
                    }
                   
                }
                
            }
            
        }
    }
}