* {
  padding: 0;
  margin: 0; }

.temporary {
  padding: 20px 150px; }
  .temporary .form {
    border: 1px solid #D30F03;
    box-shadow: 10px 10px 5px #aaaaaa; }
    .temporary .form h1 {
      padding: 10px;
      text-align: center; }
    .temporary .form .content-form {
      margin: 20px 40px; }
      .temporary .form .content-form .submit {
        padding: 10px;
        margin-left: 40%;
        color: white;
        background: #d30f03; }
      .temporary .form .content-form .row {
        margin-bottom: 20px; }
        .temporary .form .content-form .row .fild {
          margin-right: 30px; }
          .temporary .form .content-form .row .fild.DCTT {
            display: flex; }
            .temporary .form .content-form .row .fild.DCTT .DetailDCTT {
              display: flex;
              margin-left: 10px; }
              .temporary .form .content-form .row .fild.DCTT .DetailDCTT .Detail label {
                font-size: 14px;
                margin-right: 7px; }
              .temporary .form .content-form .row .fild.DCTT .DetailDCTT .Detail select {
                margin-right: 7px; }
          .temporary .form .content-form .row .fild input {
            margin-left: 10px;
            width: 200px; }
